/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-text-color: #ffc2e6;
    --outline-color: rgba(50, 49, 45, 0.4);
    --shadow-color: #ff0070;
    --button-and-rectangle-color: #353430;
    --title-paragraph-color: #353430;
    --link-bg-image: url(../images/cover-image-light.png);
    --rec-color: #fff1f7;
    --rec-text: "";
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-text-color: #ffc2e6;
  --outline-color: rgba(50, 49, 45, 0.4);
  --shadow-color: #ff0070;
  --button-and-rectangle-color: #353430;
  --title-paragraph-color: #353430;
  --link-bg-image: url(../images/cover-image-light.png);
  --rec-color: #fff1f7;
  --rec-text: "";

  .rec::before {
    content: "";
    color: inherit;
  }

  .rec::after {
    content: "";
    background-color: inherit;
    box-shadow: inherit;
  }
}
